* {
	margin: 0px auto;
}

main {
	margin: 0px auto;
	width: 530px;
	height: 550px;
}

form {
	margin: 55px;
	border: 2px solid black;
	padding: 20px;
}

.box-shadow {
	box-shadow: 5px 7px
}

div {
	font-weight: bold;
	padding: 5px;
}

input {
	margin: 5px;
}